DATABASE_URL=
DIRECT_URL=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://127.0.0.1:3000
SITE_URL=https://www.sompong-battery.com
ADMIN_USERNAME=
ADMIN_PASSWORD=
CLOUDINARY_URL=
DATA_SOURCE=prisma
FIREBASE_FALLBACK_TO_PRISMA=true
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_GOOGLE_ADS_CONVERSION_ID=
GOOGLE_ADS_CONVERSION_LABEL=
GOOGLE_ADS_LINE_CONVERSION_LABEL=
